/* Pour accéder à une classe : .nomClasse */

.button{
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
	-fx-background-radius: 30;
	-fx-text-fill: white;
}

.CustomButton{
	-fx-background-color: linear-gradient(#4169e1, #000080);
	
}

/* J'accede a un id avec #nomId */

#bigButton {
	-fx-font-size: 40;
}